<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/des-Product.css">
</head>
<body>
    <div class="container">
        <div class="child-container">
            <img src="silla.png" alt="">
        </div>
    
        <div class="child-container">
            <h2>Silla Ejecutiva Magnux Ergonómica Negra Con Tapizado Mesh Color Negro</h2>
            <p>MAS BUSCADOS</p>
            <div class="precio-act"><span>$300.000</span></div>
            <div class="precio-des"><span>$200.000</span></div>
    
            <p>Lo que Tienes que saber de este producto</p>
            <ul>
                <li>Material: Polímero y Aluminio.</li>
                <li>Tamaño: 75 cm x 46 cm x 39 cm.</li>
                <li>Peso: 1 kg.</li>
                <li>Confortable y duradera.</li>
                <li>Comodos Apoyabrazos.</li>
                <li>Giratoria.</li>
                <li>Soporte Lumbar Fijo.</li>
                <li>Material de Relleno Espuma.</li>
            </ul>
        </div>
    
        <div class="child-container">
            <p><span>Envío Gratis a Todo el País</span></p>
            <p><span>Conoce los tiempos y las formas de envío</span></p>
            <p><span>Calcular Cuando Llega</span></p>
    
            <p><span>Stock Disponible</span></p>
            <p><span>Cantidad Disponible</span></p>
    
            <div class="btn-merge">
                <button id="comprarButton" onclick="cambiarTexto('comprarButton')">Comprar Ahora</button>
                <button id="carritoButton" onclick="cambiarTexto('carritoButton')">Agregar al Carrito</button>
            </div>
    
            <p><span>Devolución Gratis.</span></p>
            <p><span>Compra Protegida</span></p>
            <p><span>1 mes garantía de práctica</span></p>
        </div>
    </div>
</body>
</html>