<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/des-Product.css">
</head>
<body>
    <div class="">
        <div class="conta-product-img">
             <div class="imagproduc">
                <img src="./img/poloredd.png" alt="">
            </div>
        </div>
        <div class="conta-product-descrip">
            <div>
                <h3>Nombre del Producto</h3>
            </div>
            
        </div>
        <div class="conta-product-card">
            
        </div>
    </div>
</body>
</html>