<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <header>
        <nav class="menu">
            <ul class="menu-lista">
                <li><a href="/">Home</a></li>
                <li><a class="a" id="Man">Hombre</a></li>
                <li><a class="a" id="Woman">Mujer</a></li>
            </ul>
            <div class="Buscar-btn">
                <input type="text" placeholder="Buscar">
                <button>Buscar</button>
            </div>
            <div class="login">
                    <a>
                        <% if (rol) { %>
                            <%= rol %>
                        <% } %>
                    </a>
                <% if (isLoggedIn) { %>
                    <a id="LogOut">
                        Cerrar Sesión
                    </a>
                    <% } %>
                <% if (!isLoggedIn) { %>
                    <a href="login">
                        Iniciar Sesión
                    </a>
                <% } %>

            </div>
            <div class="cart">
                <a href="#"><img src="carr.ico" alt="Carrito de Compras"></a>
            </div>
        </nav>
    </header>
    <div class="componente">
        <%- body %>
    </div>




</body>
<script src="layout.js"></script>

</html>