<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
</head>

  <body>
    <header>
        <nav class="menu">
            <ul class="menu-lista">
                <li><a href="/">Home</a></li>
                <li><a class="a" id="Man">Hombre</a></li>
                <li><a class="a" id="Woman">Mujer</a></li>
            </ul>
            <div class="Buscar-btn" id="Buscar-btn">
                <input type="text" id="SearchProd" autocomplete="off" placeholder="Buscar">
                <div id="recuadro"></div>
                <button type="buton" id="botonBuscar">Buscar</button>
            </div>
            <div class="login">
                    <a>
                        <% if (rol) { %>
                            <%= rol %>
                        <% } %>
                    </a>
                <% if (isLoggedIn) { %>
                    <a id="LogOut">
                        Cerrar Sesión
                    </a>
                    <% } %>
                <% if (!isLoggedIn) { %>
                    <a href="login">
                        Iniciar Sesión
                    </a>
                <% } %>

            </div>
            <div class="carts">
                <a href="#"><img src="carts.png" alt="Carrito de Compras"></a>
                <span id="cantidadProductosEnCarrito">
                  <% if (!cantCar) { %>
                  0
                  <% }else{ %>
                    <%= cantCar %>
                  <% } %> 
                </span>
            </div>
            <div id="carritoPopup" class="carrito-popup" style="display:none;">
              <h2>Productos en el carrito</h2>
              <ul id="productosEnCarritoList"></ul>
            </div>	
        </nav>
    </header>
    <div class="componente"><%- body %></div>

    <footer class="footer-major">
      <div class="container-one">
        <!--<h2>Store <span>Barbarian</span></h2>-->
        <img class="logop" src="barbarian.png" />
        <P
          >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
          maxime quidem deserunt repudiandae. Soluta repellat nam nihil omnis
          voluptates labore fuga voluptatem in quia illo voluptatum
          necessitatibus, reprehenderit facilis adipisci!</P
        >
      </div>

      <div class="container-two">
        <h2>Enlaces Principales</h2>
        <a class="useful-link" href="#">Home</a>
        <a class="useful-link" href="#">Hombre</a>
        <a class="useful-link" href="#">Mujer</a>
        <a class="useful-link" href="/login">Login</a>
        <a class="useful-link" href="/register">Registrarse</a>
      </div>

      <div class="container-three">
        <h2>Siguenos</h2>
        <div class="social-networks">
          <img class="one" src="facebook.png" />
          <img class="one" src="instagram.png" />
          <img class="one" src="whatsapp.png" />
          <img class="one" src="telegram.png" />
        </div>
        <div class="payment-method">
          <h2>Metodos de Pago</h2>
          <div class="card">
            <img class="cardpayment" src="mastercard.png" />
            <img class="cardpayment" src="pse.png" />
            <img class="cardpayment" src="bancolombia.png" />
          </div>
        </div>
      </div>
      <div class="footer-links">
        <div class="copyright">
          <p>&copy; 2023 Store Barbarian</p>
        </div>
        <div class="privacy-links">
          <a href="#">Términos de privacidad</a>
          <a href="#">Políticas de privacidad</a>
        </div>
      </div>
    </footer>
  </body>
  <script src="layout.js"></script>
</html>
