<!DOCTYPE html5>
    <html lang="en">

    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="main.css" rel="stylesheet">
        <link rel="shortcut icon" href="icon.ico" type="image/x-icon">
    </head>

    <body>
        <div class="container">
            <!--Lista de productos:-->
            <% if (prodList && prodList.length > 0)  { %>
                <!--<%= (prodList.length) %>-->
                    <% prodList.forEach(objeto => { %>
                    <div class="cardProd">    
                        <!--ID: <%= objeto.pdc_id %>-->
                        <div class="divImg">
                            <img src="<%= objeto.pdc_imagen %>" alt="imagen de producto">
                        </div>
                        <div class="descripcion">
                            <p>Descripcion: <%= objeto.pdc_descripcion %></p>
                        </div>
                    </div>    
                    <% }) %>
            <% }else{ %>
                <h1>PRUEBA</h1>                
            <% } %>    
        </div>
    </body>

    </html>