body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  padding: 0;
  margin: 0;
  transition: background-color 0.3s;
    background-image:url("https://cdn.pixabay.com/photo/2017/08/10/01/23/shopping-2616824_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-activation {
  height: calc(100vh - 84px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  
  
}

.title-activation {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff
  
}

.p-activation {
  text-align: center;
  font-size: 18px;
  color:#ffffff;
}

.btn-login {
  display: block;
  background-color: #500d0d;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #06192e;
}

@media (max-width: 640px) {
  .title-activation {
    font-size: 16px;
  }
  .p-activation {
    font-size: 16px;
  }
}
