body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    padding: 0;
    margin: 0;
    transition: background-color 0.3s;
      background-image:url("https://cdn.pixabay.com/photo/2015/08/25/11/50/shop-906722_1280.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 178px;
    
    

}

.child-container {
    background-color:rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: background-color 0.3s;
    position: relative; 
    overflow: hidden; 
    border-radius: 2px;
    border: 1px solid rgb(60, 7, 7)

}


.child-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.child-container:hover img {
    transform: scale(1.1);
}

.child-container:hover::before {
    font-size: 30px;
    color: #800020; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.child-container:hover {
    cursor:pointer; 
}

.child-container h2 {
    color: #800020; 
    font-weight: bold; 
    transition: color 0.3s;
}

.precio-des, .precio-act {
    margin-top: 10px;
    font-size: 18px;
    color: #800020; 
    font-weight: bold; 
    transition: color 0.3s;
}

.precio-act {
    text-decoration: line-through;
}

.child-container p {
    font-size: 16px;
    color: #333;
    font-weight: bold; 
    transition: color 0.3s;
}

.child-container ul {
    padding: 0;
}

.child-container li {
    margin-bottom: 5px;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    font-weight: bold; 
}

.btn-merge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 6px;
    
}

.btn-merge button {
    width: 150px;
    margin: 10px;
    padding: 10px;
    background-color: #470303;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold; 
    transition: background-color 0.3s, transform 0.3s;
}

.btn-merge button:hover {
    background-color: #800020; 
    transform: scale(1.1);
}





.size-selector {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .form-container {
    display: flex;
  }

  
  .size-selector-inner {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  
  .size-selector-inner label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .campt{
  padding: 11px;
  }

  
  .size-selector-inner select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%; 
  }

  
  .numeric-input label {
    margin-right:0px;
  }

  .numeric-input input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 35%; 
  }

  
  .size-selector-inner select:focus,
  .numeric-input input:focus {
    border-color: #3498db;
  }
  @media (min-width: 368px) {
    .child-container {
        width: 33.33%;
    }
}