html {
    height: 100%;
    width: 100%;
  }
  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-image:url("https://b2cmattelsa.vtexassets.com/assets/vtex.file-manager-graphql/images/ae39bb89-0a9c-4364-8303-8050d597bc1f___484457618d70650a8e733283470e0a1b.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .container{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
  }

  .cardProd{
    width: 200px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    /*border: 1px solid blue;*/
    border-radius: 10px; /* Aplica el border-radius al div */
    margin-left: 10px;
  }

  .cardProd .divImg{
    width: 100%;
    height: 100%;
    /*border: 1px solid rgb(77, 56, 56);*/
    border-radius: inherit; /* Hereda el border-radius del div padre */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del div */
  }

  .divImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; /* Hereda el border-radius del div padre */
  }

  .cardProd .descripcion{
    width: 100%;
    height: 14%;
   
  }
  
 
    .login a {
      text-decoration: none;
      color: #f1e5e5;
      font-weight: bold;
  }
  
.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px; 
}

.cart a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.cart img {
    width: 24px; 
    height: 24px;
    margin-right: 5px; 
    background-color: white;
}
.cardProd {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd; /* Borde para resaltar la tarjeta */
    border-radius: 8px; /* Esquinas redondeadas */
    overflow: hidden; /* Para que la sombra no se extienda más allá de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: box-shadow 0.3s ease; /* Efecto de transición en la sombra */
  }

  .divImg {
    flex: 1;
    overflow: hidden; /* Asegura que la imagen no sobresalga de la tarjeta */
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .descripcion {
    padding: 10px;
  }
  .home-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    opacity: .8;
    margin-top: 180px;
   background-color: #f1e5e5;
    align-items: center;
    align-content: center;
  
  }
  .home-title h1{
    display: flex;
    font-size: 36px;
    color: rgb(158, 35, 35);
    margin-top: 45px;
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  }

  .eslide{
  display: flex;
  width: 100%;
  height: 400px;
  margin-top: 269px;
  background-color: aquamarine ;
}
.items{
  display: flex;
  flex-direction: row;
  width: 25%;
}

.categories-p{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  margin-top:0px;
  background-color: rgb(255, 255, 255);
}
.titlesp{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.titlesp h2{
font-size: 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 5px;
}
.titlesp p{
  font-size: 17px;
  margin-top: 15px;
  padding:0px;
  font-style: italic;
}
  
.categories-p .imgcateories{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 290px;
  justify-content: space-around;
}
.imgcateories > img{
  width: 18%;
  height: 200px;
  border-radius: 50%;
}

.banner-p{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  margin-top:0px;
  background-color: rgb(2, 1, 19)
}
 .flyer-banner{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
.flyer-img{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-around;
}
.direcc{
display: flex;
justify-content: center;
}
.direcc > p{
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;

}
.recom{
  display: flex;
  justify-content: center;
  
  
}
.recom > p{
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}
.btn-storeS{
  display: flex;
 justify-content: center;
 margin: 0px;
}
.btn-storeS .btnr {
      text-align: center;
      margin: 0px;
    }

    .btn-storeS {
      text-align: center;
      margin: 50px;
    }

    .btnr {
      background-color: rgb(60, 168, 231);
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .btnr::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .btnr:hover::before {
      opacity: 1;
    }

    @keyframes moveButton {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }

    .btnr:hover {
      animation: moveButton 0.5s ease infinite;
    }  
