
body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("	https://cdn.pixabay.com/photo/2017/08/10/01/23/shopping-2616824_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-image: url("	https://cdn.pixabay.com/photo/2017/08/10/01/23/shopping-2616824_1280.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.form-container {
  width: 300px; 
  background: #480303;
  /*background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);*/
  border-radius: 30px; 
  padding: 5px 25px; 
  border: 5px solid #480303;
  box-shadow: rgba(103, 2, 22, 0.878) 0px 20px 20px -15px; 
  margin-top: 171px;
  color: aliceblue;
}

.form-container h2 {
  text-align: center;
  font-weight: 700; 
  font-size: 24px; 
  color: rgb(255, 255, 255);
  margin-bottom: 15px; 
}

.form-group {
  margin-top: 15px; 
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px; 
}

.form-group input {
  width: calc(100% - 30px); 
  background: white;
  border: none;
  padding: 10px; 
  border-radius: 15px; 
  margin-top: 8px; 
  box-shadow: #210109 0px 8px 8px -5px; 
  border-inline: 2px solid transparent;
  font-size: 14px; 
}

.form-group input::placeholder {
  color: rgb(170, 170, 170);
}

.form-group input:focus {
  outline: none;
  border-inline: 2px solid #7c0312;
}

.btn {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(42, 4, 4) 0%, rgb(95, 6, 8) 100%);
  color: white;
  padding: 12px; 
  margin: 20px auto;
  border-radius: 15px; 
  box-shadow: rgba(160, 5, 5, 0.878) 0px 15px 8px -10px; 
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.03);
  box-shadow: rgba(142, 5, 18, 0.878) 0px 18px 8px -15px; 
}

.btn:active {
  transform: scale(0.95);
  box-shadow: rgba(148, 5, 5, 0.878) 0px 10px 8px -5px; 
}